* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
}

#three_boxes {
    background-color: #212121;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.megabox {
    width: 22vw;
    margin: 10px;
}

img {
    display: flex;
    height: auto;
    width: 100%;
}

.image {
    position: relative;
    display: flex;
}

.date {
    position: absolute;
    width: 20%;
    text-align: center;
    color: white;
    margin: 10%;
    font-weight: bold;
    font-size: 19px;
}

.date p {
    padding: 4%;
}

.date p:first-child {
    background-color: #1abc9c;
}

.date p:last-child {
    background-color: #4caa8c;
}

.text {
    background-color: white;
    width: 100%;
}

.text h2 {
    text-transform: uppercase;
    padding: 10% 10% 5% 10%;
    font-size: large;
}   

.text p {
    padding: 0 10% 8% 10%;
    font-size: small;
    line-height: 1.75em;
}

button {
    background-color: #1abc9c;
    border: 2px transparent solid;
    margin: 0 10% 10% 10%;
    padding: 3% 8%;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

button:hover  {
    background-color: #ac203f;
}

.megabox:hover > .image {
    transform: scale(1.1);
}